h1{ 
    text-align: center;
    font-size: 25px;
    background-color: lightblue;
}
tr:hover{ 
   background-color: hotpink;
}
tr.header{ 
    background-color: chocolate;
}
table{ 
   margin: auto;
}
h3{ 
    color: green;
    text-align: center;
}

.hinh-anh{
   display: flex;        
    justify-content: center; 
    gap: 20px; 
   
}