* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}


.header {
    width: 85%;
    max-width: 1100px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: bold;
}

.logo-icon {
    width: 22px;
    height: 22px;
    background-color: #4b91f7;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}


.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #999;
    font-size: 12px;
}

.menu a.active {
    color: #222;
    font-weight: bold;
}


.hero {
    width: 85%;
    max-width: 1100px;
    margin: 45px auto 0;
    display: flex;
    align-items: center;
}


.hero-content {
    width: 45%;
}

.hero-content h1 {
    font-size: 40px;
    line-height: 1.15;
    margin-bottom: 20px;
}

.hero-content p {
    width: 350px;
    color: #999;
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 25px;
}


.hero-content button {
    border: none;
    background-color: #4b91f7;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 11px;
    cursor: pointer;
}


.hero-image {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 550px;
    max-width: 100%;
    display: block;
}


/* Đinh */

.product {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  color: hsl(0, 0%, 3%);
}
.product img {
  width: 50px;
  height: auto;
}
.shop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    width: 747px;
    margin: 30px auto;
}

.headers {
    color: #131717;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button button {
    padding: 10px 25px;
    border: 1px solid #458ff6;
    border-radius: 999px;
    background: white;
    color: #458ff6;
    font-weight: 700;
    cursor: pointer;

}
h1 {
    display: inline-block;   
    border-bottom: 1px solid #333;
    padding-bottom: 4px;     
}

/* Tín */

/* body{
    padding: 100px;
} */

.leading{
    display:flex;
}

img{
    width: 500px;
    /* display: block;
    margin: auto;  */
}

.img,
.hinh1,
.hinh2{
    display: block;
    margin: auto; 
}

.lead1{
    flex: 1;
    display: block;
    margin: auto; 
}

.lead11{
    flex:1;
    text-align: center;
    /* margin-top: 100px; */
    background-color: rgb(255, 214, 199);
    
}

.lead2{
    background-color: aqua;
    flex:1;
    text-align: center;
}

/* div{
    display:flex; */


.lead22{
    flex:1;
    
}

.tableblu{
    width: 90%;
    height: 275px;
    margin: 20px auto;
    padding: 30px;
    background-color: #55a8e8;
    border-radius: 15px;
}

.under{
    display:flex;
}

.under1{
    flex:1;
    /* align-items:center; */
    
}

.under2{
    flex:1;
    text-align: center;
}

.anh3{
    width: 200px;
    height: 150px;
    flex: 1;
    border-radius: 100px;
}

/* Dim */

.latest-article {
  width: 100%;
  padding: 60px 0;
  background-color: white;
  text-align: center;
}
/* Khung lớn */
.article-container {
  width: 1500px;
  margin: 0 auto;
}

/* 3 bài viết */
.three-articles {
  display: flex;
  gap: 30px;
}

/* Từng bài */
.article-1,
.article-2,
.article-3 {
  width: 40%;
  background-color: rgb(245, 241, 241);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px #fdf8f8;
}

/* Hình ảnh */
.small-image {
  width: 150%;
  height: 300px;
  object-fit: cover;
  display: block;
}

/* Nội dung */
.content {
  padding: 20px;
}

.content h2 {
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 12px;
}

.content p {
  font-size: 14px;
  line-height: 1.6;
  color: #888;
  margin-bottom: 18px;
}

.content span {
  font-size: 15px;
  color: #65a9d6;
}

/* Nút View all */
.view-all-container {
  text-align: center;
  margin-top: 40px;
}

.view-all-container a {
  padding: 10px 40px;
  border: 1px solid #65a9d6;
  border-radius: 30px;
  text-decoration: none;
  color: #65a9d6;
}
.footer {
  background-color: #45b8ffe7;
  margin-top: 80px;
  padding-top: 50px;
}

.footer-container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 100px;
}

.footer-column {
  width: 33.33%;
}

.footer-column h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.footer-column h3 {
  font-size: 25px;
  margin-bottom: 15px;
}

.footer-column p {
  font-size: 18px;
  line-height: 1.8;
  color: #706f6f;
}

.footer-column a {
  display: block;
  margin-bottom: 10px;
  color: #6f6e6e;
  text-decoration: none;
  font-size: 16px;
}

.footer-bottom {
  margin-top: 40px;
  padding: 15px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.footer-bottom p {
  font-size: 15px;
  color: #797878;
}